@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);

body {
  background: url('../img/background.png');
  background-repeat: repeat;
  color:#00ff00;
  font-family:'Source Code Pro', 'Courier new', fixed;
}
 
pre { 
  display: inline;
  font-family:'Source Code Pro', 'Courier new', fixed;
}

.grep-highlight {
  color:#ff0000;
  font-style: bold;
}
