// We're using the Skeleton CSS Boilerplate
@import '_skeleton.scss';

// Font-family
$emoji-fonts: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$base-fonts: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif, $emoji-fonts;
$web-fonts: 'Raleway', $base-fonts;

// Colors
$primary-text-color: #222;
$secondary-text-color: #999;
$light-highlight-color: rgba(128, 128, 128, 0.2);
$container-background: #fff;
$accent-background: invert($primary-text-color);

// Maximum width of the container element
$max-page-width: 51em;

body {
  font-family: $web-fonts;
  color: $primary-text-color;
}

html.wf-loading body {
  font-family: $base-fonts;
}

a {
  text-decoration: none;
}

.egg {
  canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }

  .container {
    animation-name: btw;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    background-color: transparent;
  }
}

.quote {
  border-left: 0.25rem solid $light-highlight-color;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.container {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  background-color: $container-background;
  max-width: $max-page-width;
  animation-duration: 0.4s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn;

  section {
    margin-bottom: 2rem;
  }

  section:last-child {
    margin-bottom: 0;
  }
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 2rem;
}

img.circle {
  border-radius: 50%;
}

img.avatar {
  display: none;
}

img.solid {
  background: repeating-linear-gradient( -45deg, $light-highlight-color, $light-highlight-color 1em, $container-background 1em, $container-background 2em );
}

span.split {
  // Hidden & a block in true mobile devices
  visibility: hidden;
  display: block;
  max-width: 0;
  max-height: 0;
}

section.intro {
  h3.name {
    margin-bottom: 0.5rem;
  }

  .contact {
    color: $secondary-text-color;
  }
}

.columns {
  .header {
    margin-bottom: 0.5rem;

    .title {
      font-weight: 600;
    }

    .company {
      font-style: italic;
    }
  }
}

a.logo-wrapper {
  display: none;
}

.logo {
  max-width: 100%;
}

.experience {
  .language {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 7.5rem;
  }

  .language.javascript {
    background-image: url('../img/javascript.png');
  }

  .language.python {
    background-image: url('../img/python.png');
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes btw {
  from {
    color: $primary-text-color;
  }

  to {
    color: invert($primary-text-color);
  }
}

/* Larger than mobile but probably still a phone */
@media (min-width: 25em) {
  span.split {
    visibility: visible;
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
    max-width: auto;
    max-height: auto;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 560px) {
  a.logo-wrapper {
    display: block;
    margin-top: 0.5em;
  }
}

/* Larger than phablet, but not necessarily when grid becomes active. Grid uses pixels rather than ems */
@media (min-width: 35em) {
  .container {
    padding: 2em;
  }

  .experience .language {
    background-size: 23vw;
  }

  img.avatar {
    display: inline;
    min-width: 9em;
    max-width: 9em;
    max-height: 9em;
    min-height: 9em;
    width: auto;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
    border-style: dashed;
    border-width: 1px;
    border-color: $secondary-text-color;
  }
}

/* Larger than tablet */
@media (min-width: $max-page-width) {
  .container {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    // min-height: 11in;
    // max-height: 11in;
  }

  .experience .language {
    background-size: 12em;
  }

  body {
    background-image: url('../img/cream_dust_@2X.png');
    background-color: $accent-background;
  }
}

/* Larger than Desktop HD */
@media (min-width: 72em) {}
