/*
Yes, inches are horrible.
But hey you get this cool, letter-sized page from it.
*/

.container {
  margin-top: 2em;
  padding: 1em;
  max-width: 8.5in;
}

h2.title {
  margin-bottom: 0.1em;
}

p {
  font-weight: 300;
}

img.circle {
  border-radius: 50%;
}

img.avatar {
  display: none;
}

.experience > .header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

.columns > .header {
  margin-bottom: 0.1em;
}

.experience > .javascript {
  background-image: url('../img/javascript.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}

.experience > .python {
  background-image: url('../img/python.png');
  background-position: right bottom;
  background-repeat: no-repeat;
}

a.logo-wrapper {
  display:none;
}
.logo {
  max-width:100%;
}


/* Larger than mobile but probably still a phone */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 560px) {
  img.avatar {
    display: inline;
    max-height: 2in;
    width: auto;
  	/*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
    border-style: dashed;
    border-width: 1px;
    border-color: #a0a0a0;
  }

  a.logo-wrapper {
    display: block;
    margin-top: 0.5em;
  }

  .container {
    padding: 2em;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than a piece of letter paper */
@media (min-width: 8.5in) {
  .container {
  	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: white;
    min-height: 11in;
    max-height: 11in;
  }

  body {
    background-image: url('../img/cream_dust_@2X.png')
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
