doctype html

//
  Hey you! Yeah you, snoopin' up in this page! Just look at the sourcecode
  instead... https://github.com/maxpowa/maxpowa.github.io
html
  head
    // Back to the basics
    meta(charset='utf-8')
    title Max Gurela
    meta(name='description' content='')
    meta(name='author' content='Maxfield Gurela <max.gurela AT gmail DOT com>')

    // Nobody browses the internet on a big screen anymore.
    meta(name='viewport' content='width=device-width, initial-scale=1')

    // Gib favicon pls
    link(rel='icon' href='img/favicon.png')

    // CSS inlined at compile-time
    style
      //- Compile SCSS and then compress
      include:scss:clean-css ./styles/base.scss



  body
    // Skeleton container
    .container
      section.header.u-text-center
        img.circle.avatar(src='//gravatar.com/avatar/c94c932597d6b227ffeb9a31c45c1e98?s=256')
        h3.title Max Gurela
        p.about Python/C#/NodeJS/Java/Groovy Software Engineer

      // I like it when you whisper sweet nothings about my code
      section.experience

        h6.header Experience

        .row.job.language.javascript
          .one.columns.logo
            a.logo-wrapper(target='_blank' href='//servicemax.com')
              img.logo(src='img/servicemax.png')
          .eleven.columns
            h6.header ServiceMax
            // Jade doesn't require the hanging pipes but they help syntax
            // highlighting, so I'm using them here. They look cleaner as well.
            p.description
              | Lotta stuff
              | goes here
              | newlines included

        // TODO: Python background faded image thing
        .row.sideproject.language.python
          .one.columns
            a.logo-wrapper(target='_blank' href='//sopel.chat')
              img.logo(src='img/sopel.png')
          .eleven.columns
            h6.header Sopel
            p.description
              | Lotta stuff
              | goes here
              | newlines included
